@import 'reset.css';
@import '../assets/fonts/Acme/css/acme.css';

:root {
  --clr-primary-400: hsl(215, 100%, 43%);

  --clr-secondary-100: hsl(60, 36%, 95%);

  --clr-neutral-100: hsl(197, 12%, 88%);
  --clr-neutral-999: hsl(0, 0%, 0%);

  --ff-primary: 'Acme', sans-serif;

  --fw-regular: 400;

  --fs-500: 1.25rem;
  --fs-800: 2rem;
}

html {
  font-size: var(--fs-500);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-999);
  background-color: var(--clr-secondary-100);
}

body {
  min-height: 100vh;
}

h1 {
  font-size: var(--fs-800);
}

button {
  background: none;
  border: none;
}

.container {
  --max-width: 30rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.header-content,
.main-content {
  padding-block: 1.25rem;
}

.header-content {
  border-bottom: solid var(--clr-neutral-100);
}

.item {
  --flow-spacer: 1.25rem;

  display: block;
  width: 100%;
  cursor: pointer;
}

.item__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__icon-toggle {
  position: relative;
  width: 1em;
  height: 1em;
}

.item__icon-toggle::before,
.item__icon-toggle::after {
  content: '';
  position: absolute;
  width: 0.2em;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-neutral-999);
  border-radius: 1000vh;
}

.item__icon-toggle::after {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.item__img img {
  margin-inline: auto;
  height: 15em;
  object-fit: contain;
}