@import 'reset.css';
@import '../assets/fonts/Acme/css/acme.css';

:root {
  --clr-primary-400: hsl(215, 100%, 43%);

  --clr-secondary-100: hsl(60, 36%, 95%);

  --clr-neutral-100: hsl(197, 12%, 88%);
  --clr-neutral-999: hsl(0, 0%, 0%);

  --ff-primary: 'Acme', sans-serif;

  --fw-regular: 400;

  --fs-500: 1.25rem;
  --fs-800: 2rem;
}

html {
  font-size: var(--fs-500);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-999);
  background-color: var(--clr-secondary-100);
}

body {
  min-height: 100vh;
}

h1 {
  font-size: var(--fs-800);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  --max-width: 30rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.header-content,
.main-content {
  padding-block: 1.25rem;
}

.header-content {
  border-bottom: solid var(--clr-neutral-100);
}

.header-content h1 {
  display: inline-block;
}

.item {
  --item-transition: 300ms ease-out;
  --item-color: var(--clr-primary-400);

  display: block;
  width: 100%;
  padding-block: 0.25rem;
  color: var(--item-color);
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.main-content:hover .item {
  --item-color: var(--clr-neutral-999);

  color: var(--item-color);
}

.main-content .item:active {
  --item-color: var(--clr-primary-400);

  color: var(--item-color);
}

.item__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__icon-toggle {
  position: relative;
  display: none;
  width: 1em;
  height: 1em;
}

.main-content:hover .item__icon-toggle {
  display: block;
}

.item__icon-toggle::before,
.item__icon-toggle::after {
  content: '';
  position: absolute;
  width: 0.2em;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--item-color);
  border-radius: 1000vh;

  transition: transform var(--item-transition);
}

.item__icon-toggle::after {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.item__img {
  --img-height: 14em;
}

.item__img img {
  margin-inline: auto;
  height: 0;
  object-fit: contain;
  filter: opacity(0);

  transition: height var(--item-transition),
    filter var(--item-transition);
}

.item:target,
.main-content:not(:has(.item:target)) .item:first-child {
  color: var(--clr-neutral-999);
}

.item:target .item__img img,
.main-content:not(:has(.item:target)) .item:first-child .item__img img {
  height: var(--img-height);
  filter: opacity(1);
}

.item:target .item__icon-toggle::before,
.main-content:not(:has(.item:target)) .item:first-child .item__icon-toggle::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.item:target .item__icon-toggle::after,
.main-content:not(:has(.item:target)) .item:first-child .item__icon-toggle::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (hover: hover) {
  .item:hover .item__icon-toggle::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .item:hover .item__icon-toggle::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .item:hover .item__img img {
    height: var(--img-height);
    filter: opacity(1);
  }
}

.item:active .item__img img {
  filter: opacity(50%);
}